{% extends "base.html" %}
{% load i18n static %}

{% block title %}ログイン画面{% endblock %}
{% block extra_css %}
<link href="{% static 'mas_app/css/select-multiple.css' %}" media="screen" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<form name="name_form" action="" method="POST">
    <!-- <form name="name_form" action="/test_ajax_app/" method="POST"> -->
    {% csrf_token %}
    <input type="text" id="id_input_text" name="modal_select_date" value="999.99">
    <input class="btn" type="submit">
    <button id="sub">aaaa</button>
</form>

<span id="id_div_ajax_response">
    AJAX RESPONSE
</span>

<form name="check_form" action="" method="POST">
    <!-- <form name="name_form" action="/test_ajax_app/" method="POST"> -->
    {% csrf_token %}

    <!-- Button trigger modal -->
    <input type="text" name="selectedvalue" id="selectedvalue">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
    </button>

    <input class="btn" type="submit">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked　value="あ" name="choice" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    晴れ
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked　value="い" name="choice" id="defaultCheck2">
                <label class="form-check-label" for="defaultCheck2">
                    Disabled checkbox
                </label>
            </div>
        </div>
    </div>
</form>

{% endblock %}
{% block extra_js %}
<script src="{% static 'mas_app/js/login.js' %}"></script>
<!--チェックボックスバージョン-->
<script>
    let selectedvalue = $('#selectedvalue').val(selectedvalue);


    $('.checkbox').on('click.bs.dropdown.data-api', (event) => event.stopPropagation())
</script>

<!-- 複数選択セレクトボックス用 -->
<script src="{% static 'mas_app/js/jquery.select-multiple.js' %}"></script>
<script>

    let selectedvalue = "";
    //複数選択セレクトボックスが選択、選択解除されたとき
    $('#my-select').selectMultiple({
        afterSelect: function (values) {
            // alert("Select value: " + values); 
            let selectedvalue = $('#selectedvalue').val();
            selectedvalue += " " + values;
            $('#selectedvalue').val(selectedvalue);

        },
        afterDeselect: function (values) {
            let selectedvalue = $('#selectedvalue').val();
            let deletestr = " " + values;
            selectedvalue = selectedvalue.replace(deletestr, '');
            $('#selectedvalue').val(selectedvalue);
        }
    });




    $(function () {
        // $("form").submit(function (event) {
        $('#sub').click(function () {
            var form = $('form[name= name_form]');
            event.preventDefault();

            $.ajax({
                url: "{% url 'more' %}",
                method: form.prop("method"),
                data: form.serialize(),
                timeout: 10000,
                dataType: "text",
            })
                .done(function (data) {
                    alert("done");
                    $("#id_div_ajax_response").text(data);
                })

        });
    });
</script>
{% endblock %}