{% load i18n static %}
<!DOCTYPE html>
<html>

<head>
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'mas_app/css/bootstrap.css' %}">
	<!-- Required meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- 薄めの背景など -->
	<link rel="stylesheet" href="{% static 'mas_app/css/base.css' %}">
	{% block extra_css %}{% endblock %}
	<title>{% block title %}{% endblock %}</title>
</head>

<body>
	<!-- As a heading -->
	<nav class="navbar navbar-expand-lg navbar-light  bg-light navbar-laravel">
		<div class="container">
			<a class="navbar-brand" href="{% url 'login' %}">MAS管理システム</a>
		</div>
	</nav>
	{% if toast %}
	<!-- トースト配置用のFlexboxコンテナ-->
	<div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center">
		<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
			<div class="toast-header">
				<strong class="mr-auto">MAS管理システム</strong>
				<small></small>
				<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="toast-body">
				{{toast}}
			</div>
		</div>
	</div>
	{% endif %}
	{% block content %}
	{{ content }}
	{% endblock %}




</body>
<script src="{% static 'mas_app/js/jquery-3.4.1.min.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
	integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	crossorigin="anonymous"></script>
<script src="{% static 'mas_app/js/bootstrap.js' %}"></script>
<script>
	$('.toast')
		.toast({
			delay: 2000
		})
		.toast('show')
</script>
{% block extra_js %}{% endblock %}


</html>