{% extends "base.html" %}
{% load i18n static %}
{% block content %}

<div class="cotainer">
    <form action="{% url 'contract_of_customer' %}" method="post">
        {% csrf_token %}
        {% for customer in customers %}
        {{ customer.customer_id }}
        {{ customer.customer_name }}
        <button type="submit" class="btn btn-primary" style="margin-bottom: 10px" value={{ customer.customer_id }}
            onclick="submitAction()">
            詳細
        </button>
        {% endfor %}
        <input name="target">
    </form>
</div>
<script>
    // 押されたボタンによってサブミット先を変える
    function submitAction() {
        alert($(this).val())
        $("[name=target]").val($(this).val());
        $('form').submit();
    }
</script>
{% endblock %}