{% extends "base.html" %}
{% load i18n static %}

{% block title %}エラー{% endblock %}
{% block content %}

<div class="cotainer">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                {{message}}
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block extra_js %}

{% endblock %}