{% extends "base.html" %}
{% load i18n static %}

{% block title %}ログイン画面{% endblock %}
{% block content %}
<main class="login-form">
	<div class="cotainer">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card">
					<div class="card-header">ログイン</div>
					<div class="card-body">
						<div id="output"></div>
						<form id="login_form" action="{% url 'search' %}" method="post">
							{% csrf_token %}
							<div class="form-group row">
								<label for="user_id" class="col-md-4 col-form-label text-md-right">ID</label>
								<div class="col-md-6">
									<input name="user_id" id="user_id" type="text" class="form-control" required
										autofocus>
								</div>
							</div>

							<div class="form-group row">
								<label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
								<div class="col-md-6">
									<input name="password" id="password" type="password" class="form-control" required>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-4 offset-md-4 ">
									<button type="botton" class="btn btn-primary" id="btn_id">
										ログイン
									</button>
								</div>
							</div>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</main>

{% endblock %}
{% block extra_js %}
<script>
	const user_id = 'admin';
	const password = 'hogehoge';
	$(function () {
		let idfield = $("input[name=user_id]");//入力されたID
		let passwordfield = $("input[name=password]");//入力されたパスワード
		$('#btn_id').click(function () {
			// 最低限のバリデーション
			if (idfield.val() == "") {//IDの入力確認
				$("#output").addClass("alert alert-danger animated fadeInUp").html("IDを入力してください　");
				return false
			}
			if (passwordfield.val() == "") {//パスワードの入力確認
				$("#output").addClass("alert alert-danger animated fadeInUp").html("パスワードを入力してください　");
				return false
			}
			if ((idfield.val() == user_id) && (passwordfield.val() == password)) {//登録内容と一致しているか確認
				$('#login_form').submit();
			} else {
				$("#output").addClass("alert alert-danger animated fadeInUp").html("ユーザ名かパスワードが間違っています　");
				return false
			};
		}
		)
	})
</script>

{% endblock %}