{% extends "base.html" %}
{% load i18n static %}
{% block content %}




<div class="cotainer">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">顧客検索</div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-4">
                            {% for key, value in olddata.items %}
                            <input type="text" class="form-control-plaintext" readonly name={{ key }} value={{ value }}>
                            </input>
                            {% endfor %}
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control-plaintext" value="" readonly>
                            </input>
                            {% for key, value in newdata.items %}
                            <input type="text" class="form-control-plaintext" readonly name={{ key }} value={{ value }}>
                            </input>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="cotainer">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">顧客検索</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" class="form-control-plaintext" name="customer_id"
                                value={{ olddata.customer_id }} readonly>
                            </input>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control-plaintext" name="customer_id"
                                value={{ newdata.customer_id }} readonly>
                            </input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" class="form-control-plaintext" name="customer_name"
                                value={{ olddata.customer_name }} readonly>
                            </input>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control-plaintext" name="customer_name"
                                value={{ newdata.customer_name }} readonly>
                            </input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" class="form-control-plaintext" name="represent_TEL"
                                value={{ olddata.represent_TEL }} readonly>
                            </input>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control-plaintext" name="represent_TEL"
                                value={{ newdata.represent_TEL }} readonly>
                            </input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" class="form-control-plaintext" name="contact_phone_TEL"
                                value={{ olddata.contact_phone_TEL }} readonly>
                            </input>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control-plaintext" name="contact_phone_TEL"
                                value={{ newdata.contact_phone_TEL }} readonly>
                            </input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" class="form-control-plaintext" name="start_date"
                                value={{ olddata.start_date }} readonly>
                            </input>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control-plaintext" name="start_date"
                                value={{ newdata.start_date }} readonly>
                            </input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" name="plan_name" class="form-control-plaintext"
                                value={{ olddata.plan_name }}>
                            </input>
                        </div>
                        <div class="col-md-4">
                            <input type="text" name="plan_name" class="form-control-plaintext"
                                value={{ newdata.plan_name }}>
                            </input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" name="modified_date" class="form-control-plaintext"
                                value={{ olddata.modified_date }}>
                            </input>
                        </div>
                        <div class="col-md-4">
                            <input type="text" name="modified_date" class="form-control-plaintext"
                                value={{ newdata.modified_date }}>
                            </input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" name="end_date" class="form-control-plaintext"
                                value={{ olddata.end_date }}>
                            </input>
                        </div>
                        <div class="col-md-4">
                            <input type="text" name="end_date" class="form-control-plaintext"
                                value={{ newdata.end_date }}>
                            </input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" name="person_in_first_charge" class="form-control-plaintext"
                                value={{ olddata.person_in_first_charge }}>
                            </input>
                        </div>
                        <div class="col-md-4"><input type="text" name="person_in_first_charge"
                                class="form-control-plaintext" value={{ newdata.person_in_first_charge }}>
                            </input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" name="first_name_1" class="form-control-plaintext"
                                value={{ olddata.first_name_1 }}>
                            </input>
                        </div>
                        <div class="col-md-4"><input type="text" name="first_name_1" class="form-control-plaintext"
                                value={{ newdata.first_name_1 }}>
                            </input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" name="contacts_email_1" class="form-control-plaintext"
                                value={{ olddata.contacts_email_1 }}>
                            </input>
                        </div>
                        <div class="col-md-4">
                            <input type="text" name="contacts_email_1" class="form-control-plaintext"
                                value={{ newdata.contacts_email_1 }}>
                            </input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" name="person_in_second_charge" class="form-control-plaintext"
                                value={{ olddata.person_in_second_charge }}>
                            </input>
                        </div>
                        <div class="col-md-4">
                            <input type="text" name="person_in_second_charge" class="form-control-plaintext"
                                value={{ newdata.person_in_second_charge }}>
                            </input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" name="first_name_2" class="form-control-plaintext"
                                value={{ olddata.first_name_2 }}>
                            </input>
                        </div>
                        <div class="col-md-4">
                            <input type="text" name="first_name_2" class="form-control-plaintext"
                                value={{ newdata.first_name_2 }}>
                            </input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" name="contacts_email_2" class="form-control-plaintext"
                                value={{ olddata.contacts_email_2 }}>
                            </input></div>
                        <div class="col-md-4">
                            <input type="text" name="contacts_email_2" class="form-control-plaintext"
                                value={{ newdata.contacts_email_2 }}>
                            </input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" name="manufacturer" class="form-control-plaintext"
                                value={{ olddata.manufacturer }}>
                            </input></div>
                        <div class="col-md-4">
                            <input type="text" name="manufacturer" class="form-control-plaintext"
                                value={{ newdata.manufacturer }}>
                            </input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" name="model_name" class="form-control-plaintext"
                                value={{ olddata.model_name }}>
                            </input></div>
                        <div class="col-md-4">
                            <input type="text" name="model_name" class="form-control-plaintext"
                                value={{ newdata.model_name }}>
                            </input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" name="model_number" class="form-control-plaintext"
                                value={{ olddata.model_number }}>
                            </input></div>
                        <div class="col-md-4">
                            <input type="text" name="model_number" class="form-control-plaintext"
                                value={{ newdata.model_number }}>
                            </input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" name="serial_number" class="form-control-plaintext"
                                value={{ olddata.serial_number }}>
                            </input></div>
                        <div class="col-md-4">
                            <input type="text" name="serial_number" class="form-control-plaintext"
                                value={{ newdata.serial_number }}>
                            </input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" name="remote_way" class="form-control-plaintext"
                                value={{ olddata.remote_way }}>
                            </input></div>
                        <div class="col-md-4">
                            <input type="text" name="remote_way" class="form-control-plaintext"
                                value={{ newdata.remote_way }}>
                            </input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" name="remote_connection" class="form-control-plaintext"
                                value={{ olddata.remote_connection }}>
                            </input></div>
                        <div class="col-md-4">
                            <input type="text" name="remote_connection" class="form-control-plaintext"
                                value={{ newdata.remote_connection }}>
                            </input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" name="remote_local" class="form-control-plaintext"
                                value={{ olddata.remote_local }}>
                            </input></div>
                        <div class="col-md-4">
                            <input type="text" name="remote_local" class="form-control-plaintext"
                                value={{ newdata.remote_local }}>
                            </input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" name="perimter_account" class="form-control-plaintext"
                                value={{ olddata.perimter_account }}>
                            </input></div>
                        <div class="col-md-4">
                            <input type="text" name="perimter_account" class="form-control-plaintext"
                                value={{ newdata.perimter_account }}>
                            </input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" name="perimter_network" class="form-control-plaintext"
                                value={{ olddata.perimter_network }}>
                            </input></div>
                        <div class="col-md-4">
                            <input type="text" name="perimter_network" class="form-control-plaintext"
                                value={{ newdata.perimter_network }}>
                            </input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" name="startia_charge" class="form-control-plaintext"
                                value={{ olddata.startia_charge }}>
                            </input></div>
                        <div class="col-md-4">
                            <input type="text" name="startia_charge" class="form-control-plaintext"
                                value={{ newdata.startia_charge }}>
                            </input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" name="startia_engineer" class="form-control-plaintext"
                                value={{ olddata.startia_engineer }}>
                            </input></div>
                        <div class="col-md-4">
                            <input type="text" name="startia_engineer" class="form-control-plaintext"
                                value={{ newdata.startia_engineer }}>
                            </input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" name="early_stage_cost" class="form-control-plaintext"
                                value={{ olddata.early_stage_cost }}>
                            </input></div>
                        <div class="col-md-4">
                            <input type="text" name="early_stage_cost" class="form-control-plaintext"
                                value={{ newdata.early_stage_cost }}>
                            </input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" name="current_month_charge" class="form-control-plaintext"
                                value={{ olddata.current_month_charge }}>
                            </input>
                        </div>
                        <div class="col-md-4">
                            <input type="text" name="current_month_charge" class="form-control-plaintext"
                                value={{ newdata.current_month_charge }}>
                            </input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <textarea name="note" class="form-control-plaintext" value=>{{ olddata.note}}
                            </textarea>
                        </div>
                        <div class="col-md-4">
                            <textarea name="note" class="form-control-plaintext">{{ newdata.note }}
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}