{% extends "base.html" %}
{% load i18n static %}
{% load humanize %}
{% block title %}顧客検索{% endblock %}
{% block extra_css %}
<!--tablesort用-->
<link rel="stylesheet" href="{% static 'mas_app/css/tablesort.css' %}">

<!-- bootstrap-datepickerを読み込む -->
<link rel="stylesheet" href="{% static 'mas_app/css/bootstrap-datepicker.min.css' %}">

{% endblock %}

{% block content %}

<form name="searchform" action="" method="post">
	{% csrf_token %}
	<main class="my-form">
		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="card">
					<div class="card-header">顧客検索</div>
					<div class="card-body">
						<!--検索用顧客名　name="search_customer_name"-->
						<div class="form-group row">
							<label for="search_customer_name" class="col-md-4 col-form-label text-md-right">顧客名</label>
							<div class="col-md-6">
								<input name="search_customer_name" id="customer_name" type="search" class="form-control"
									value={{customer_name}}>
							</div>
						</div>
						<!--検索用電話番号　name="search_client_phone"-->
						<div class="form-group row">
							<label for="search_client_phone"
								class="col-md-4 col-form-label text-md-right">顧客電話番号</label>
							<div class="col-md-6">
								<input name="search_client_phone" id="client_phone" type="search" class="form-control"
									value={{client_phone}}>
							</div>
						</div>
						<!--検索用プラン名　name="search_plan_name"-->
						<div class="form-group row">
							<label for="selectedvalue" class="col-md-4 col-form-label text-md-right">プラン名</label>
							<div class="input-group col-md-6">
								<input type="text" class="form-control" 　name="selectedvalue" id="selectedvalue"
									aria-describedby="button-addon" readonly>
								<div class="input-group-append">
									<div class="dropdown" id="check_plan">
										<button class="btn btn-primary dropdown-toggle" type="button"
											id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false">
											選択する
										</button>
										<div class="dropdown-menu checkbox" aria-labelledby="dropdownMenuButton">
											<div class="form-check">
												<input class="form-check-input" type="checkbox" name="checkall"
													id="checkall">
												<label class="form-check-label" for="checkall">
													全プラン
												</label>
											</div>
											{% for plan in plans %}
											<div class="form-check">
												<input class="form-check-input" type="checkbox" name="search_plan_name"
													id={{plan.plan_name}} value={{plan.plan_name}}>
												<label class="form-check-label" for={{plan.plan_name}}>
													{{plan.plan_name}}
												</label>
											</div>
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
							<div hidden>
								{% for selected_plan_name in selected_plan_names %}
								<span name="selected_plan_name">{{selected_plan_name}}</span>
								{% endfor %}
							</div>
						</div>
						<!--検索用対象月-->
						<div class="form-group row">
							<label for="search_month" class="col-md-4 col-form-label text-md-right">対象月</label>
							<div class="col-md-6">
								<input name="search_month" id="client_phone" type="search"
									class="form-control datepicker" autocomplete="off" value={{search_month}}>
							</div>
						</div>
						<div class="form-group form-check">
							<div class="col-md-6  offset-md-4">
								<input type="hidden" name="show_deleted" value="" />
								{% if checked == "" %}
								<input type="checkbox" name="show_deleted" value="checked" id="show_deleted"
									class="form-check-input">
								{% else %}
								<input type="checkbox" name="show_deleted" value="checked" id="show_deleted"
									class="form-check-input" checked>
								{% endif %}
								<label class="form-check-label" for="show_deleted">解約・キャンセル済みも表示する</label>
							</div>
						</div>

						<!--検索結果の何ページ目を表示させるかを示す変数-->
						<input name="key" type="hidden" value={{key}}>
						<!--契約情報検索か売上集計表示を行うか示す変数-->
						<input name="do_what" type="hidden" value={{do_what}}>
						<div class="form-group row">
							<div class="col-md-2 offset-md-4 btn-group btn-group-justified">
								<button type="button" class="btn btn-primary" style="margin-bottom: 10px"
									onclick="submitAction('/search')">
									契約情報検索
								</button>
							</div>
							<div class="col-md-2  btn-group btn-group-justified">
								<button type="button" class="btn btn-primary open_modal" data-toggle="modal"
									data-target="#myModal" value="add_contract" style="margin-bottom: 10px">
									新規契約登録
								</button>
							</div>
							<div class="col-md-2  btn-group btn-group-justified">
								<button type="button" class="btn btn-info" name="summarize_sales"
									style="margin-bottom: 10px">
									売上集計表示
								</button>
							</div>
						</div>
					</div>
					{% if summary %}

					<div class="card-body">
						{{search_month}}
						<table class="table table-sm table-striped">
							<thead>
								<tr>
									<th scope="col">
										プラン名
									</th>
									<th scope="col">
										課金開始件数
									</th>
									<th scope="col">
										累計件数
									</th>
									<th scope="col">
										初期費用合計
									</th>
									<th scope="col">
										売上
									</th>
								</tr>
							</thead>
							<tbody>

								{% for key,value in summary.items %}
								<tr>
									<td>
										{{value.plan_name}}
									</td>
									<td>
										{{value.start_contract}}件
									</td>
									<td>
										{{value.total_contract}}件
									</td>
									<td>
										{{value.early_stage_cost| intcomma}}円
									</td>
									<td>
										{{value.sales| intcomma}}円
									</td>

								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					{% endif %}
					<div class="card-body">
						検索結果：{{number_of_hit}}件
						{% if contracts %}
						<!--検索結果テーブルの表示-->
						<table id="contract_table" class="table table-sm">
							<thead>
								<tr>
									<!--現在のソート方法を格納する変数-->
									<input name="sort" hidden value={{sort}}>
									<th scope="col" id="sort_customer_id" class="sort_th">
										<button type="button" class="btn btn-link btn-block text-md-left sort"
											value="customer_id">
											顧客番号
										</button>
									</th>
									<th scope="col" id="sort_customer_name" style="width:25%" class="sort_th">
										<button type="button" class="btn btn-link btn-block text-md-left sort"
											value="customer_name">顧客名</button>
									</th>
									<th scope="col" id="sort_plan_name" class="sort_th">
										<button type="button" class="btn btn-link btn-block text-md-left sort"
											value="plan_name">
											プラン名
										</button>
									</th>
									{% ifequal do_what "search" %}
									<th scope="col" id="sort_represent_TEL" class="sort_th">
										<button type="button" class="btn btn-link btn-block text-md-left sort"
											value="represent_TEL">
											代表TEL
										</button>
									</th>
									<th scope="col" id="sort_contact_phone_TEL" class="sort_th">
										<button type="button" class="btn btn-link btn-block text-md-left sort"
											value="contact_phone_TEL">
											連絡先TEL
										</button>
									</th>



									{% else %}

									<th scope="col" id="sort_early_stage_cost" class="sort_th">
										<button type="button" class="btn btn-link btn-block text-md-left sort"
											value="early_stage_cost">
											初期費用
										</button>
									</th>
									<th scope="col" id="sort_current_month_charge" class="sort_th">
										<button type="button" class="btn btn-link btn-block text-md-left sort"
											value="current_month_charge">
											当月料金
										</button>
									</th>
									<th scope="col" id="sort_start_date" class="sort_th">
										<button type="button" class="btn btn-link btn-block text-md-left sort"
											value="start_date">
											開始月
										</button>
									</th>
									{% endifequal %}
									<th scope="col">
										<!--ボタンを設置する列-->
									</th>
								</tr>
							</thead>
							<tbody>
								{% for contract in contracts %}
								{% if contract.is_deleted %}
								<!--削除済みの項目は暗くする-->
								<tr class="table-secondary">
									{% else %}
								<tr>
									{% endif %}
									<td class="overflow">
										<span name="customer_id">{{ contract.customer_id }}</span>
									</td>
									<td class="overflow">
										<span name="customer_name">{{ contract.customer_name }}</span>
									</td>
									<td class="overflow">
										<span name="plan_name">{{ contract.plan_name }}</span>
									</td>
									<!--検索を行う場合に表示する内容-->
									{% ifequal do_what "search" %}

									<td class="overflow">
										<span name="represent_TEL">{{ contract.represent_TEL }}</span>
									</td>
									<td class="overflow">
										<span name="contact_phone_TEL">{{ contract.contact_phone_TEL }}</span>
									</td>

									<!--売上集計を行う場合に表示する内容-->
									{% else %}

									<td class="overflow">
										<span name="early_stage_cost">{{ contract.early_stage_cost }}</span>
									</td>
									<td class="overflow">
										<span name="current_month_charge">{{ contract.current_month_charge }}</span>
									</td>
									<td class="overflow">
										<span name="start_date">{{ contract.start_date|date:"Y年m月" }}</span>
									</td>
									{% endifequal %}

									<td style="text-align:center;">
										<!-- 対応する契約情報を編集するモーダルを出すボタン -->
										<button type="button" class="btn btn-primary open_modal" data-toggle="modal"
											data-target="#myModal" value={{ forloop.counter0 }}>
											編集
										</button>
										<!--モーダルに渡す情報-->
										<div>
											<!--検索結果テーブルに表示していない項目たち-->
											{% ifequal do_what "search" %}
											<span name="early_stage_cost">{{ contract.early_stage_cost }}</span>
											<span name="current_month_charge">{{ contract.current_month_charge }}</span>
											<span name="start_date">{{ contract.start_date|date:"Y年m月" }}</span>
											{% else %}
											<span name="represent_TEL">{{ contract.represent_TEL }}</span>
											<span name="contact_phone_TEL">{{ contract.contact_phone_TEL }}</span>

											{% endifequal %}

											<span
												name="modification_date">{{ contract.modification_date|date:"Y年m月" }}</span>
											<span name="canceling_date">{{ contract.canceling_date|date:"Y年m月" }}</span>
											<span
												name="person_in_first_charge">{{ contract.person_in_first_charge }}</span>
											<span name="first_name_1">{{ contract.first_name_1 }}</span>
											<span name="contacts_email_1">{{ contract.contacts_email_1 }}</span>
											<span
												name="person_in_second_charge">{{ contract.person_in_second_charge }}</span>
											<span name="first_name_2">{{ contract.first_name_2 }}</span>
											<span name="contacts_email_2">{{ contract.contacts_email_2 }}</span>
											<!-- <span name="manufacturer">{{ contract.manufacturer }}</span>
											<span name="model_name">{{ contract.model_name }}</span>
											<span name="model_number">{{ contract.model_number }}</span>
											<span name="serial_number">{{ contract.serial_number }}</span> -->
											<span name="startia_charge">{{ contract.startia_charge }}</span>
											<span name="startia_engineer">{{ contract.startia_engineer }}</span>
											<textarea class="form-control" name="note"
												rows="3">{{ contract.note }}</textarea>
											<input type="text" name="is_deleted" value={{ contract.is_deleted }}>
										</div>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>

						<div>
							<nav aria-label="Search results pages">
								<ul class="pagination">
									<!--１つ前に戻るボタン name="previous"-->
									{% if page_obj.has_previous %}
									<li>
										<button type="button" class="btn btn-primary page"
											value={{ page_obj.previous_page_number }} onclick="submitAction('/search')">
											前
										</button>
									</li>
									{% else %}
									<li class="disabled">
										<button type="button" class="btn btn-primary page" disabled>
											前
										</button>
									</li>
									{% endif %}
									<!--指定ページに移動 name="specified"-->
									{% for link_page in page_obj.paginator.page_range %}
									{% if link_page %}
									{% if link_page == page_obj.number %}
									<li class="disabled">
										<button type="button" class="btn btn btn-dark page" name={{ link_page }}
											value={{ link_page }} disabled>
											{{ link_page }}
										</button>
									</li>
									{% else %}
									<li><button type="button" class="btn btn-primary page" name={{ link_page }}
											value={{ link_page }}>
											{{ link_page }}
										</button>
									</li>
									{% endif %}
									{% else %}
									<li class="disabled"><a class="page-link text-secondary d-inline-block text-muted"
											href="#">・・・
											</p>
									</li>
									{% endif %}
									{% endfor %}

									{% if page_obj.has_next %}
									<li><button type="button" class="btn btn-primary page"
											name={{ page_obj.next_page_number }} value={{ page_obj.next_page_number }}>
											次
										</button>
									</li>
									{% else %}
									<li class="disabled">
										<button type="button" class="btn btn-primary page" disabled>
											次
										</button>
									</li>
									{% endif %}
								</ul>
							</nav>
						</div>

						{% endif %}
					</div>
				</div>
			</div>
		</div>

	</main>
	<!-- 契約詳細情報モーダルダイアログ -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">契約情報</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="card border-dark">
						<div class="card-body">
							<div class="row">
								<label for="modal_customer_id" class="col-md-2 col-form-label text-md-right">顧客番号
								</label>
								<div class="col-md-3">
									<input name="modal_customer_id" type="text" class="form-control" value="" readonly>
								</div>
								<label for="modal_select_plan" class="col-md-1 col-form-label text-md-right">プラン名
								</label>
								<div class="col-md-2">
									<select name="modal_select_plan" class="form-control">
										<option></option>
										{% for plan in plans %}
										<option value={{plan.plan_name}}>{{plan.plan_name}}</option>
										{% endfor %}
									</select>
									<input type="hidden" name="modal_plan_name" class="form-control">
								</div>
								<label for="modal_select_date" class="col-md-1 col-form-label text-md-right">申込日
								</label>
								<div class="col-md-3">
									<input name="modal_select_date" id="modal_select_date" type="text"
										class="form-control" autocomplete="off">
								</div>
							</div>
							<br>
							<div class="row">
								<label for="modal_customer_name" class="col-md-2 col-form-label text-md-right">顧客名
								</label>
								<div class="col-md-6">
									<input name="modal_customer_name" type="text" class="form-control">
								</div>
							</div>
							<!--改行-->
							<br>
							<div class="row">
								<label for="modal_start_date" class="col-md-2 col-form-label text-md-right">開始月
								</label>
								<div class="col-md-2">
									<input name="modal_start_date" type="text" class="form-control datepicker"
										autocomplete="off">
								</div>

								<label for="modal_modification_date" class="col-md-2 col-form-label text-md-right">変更月
								</label>
								<div class="col-md-2">
									<input name="modal_modification_date" type="text" class="form-control datepicker"
										autocomplete="off">
								</div>
								<label for="modal_canceling_date" class="col-md-2 col-form-label text-md-right">解約月
								</label>
								<div class="col-md-2">
									<input name="modal_canceling_date" type="text" class="form-control datepicker"
										autocomplete="off">
								</div>
							</div>
						</div>
						<div class="card-header">顧客連絡先</div>
						<div class="card-body">
							<div class="row">
								<label for="modal_person_in_first_charge"
									class="col-md-2 col-form-label text-md-right">担当者1 姓
								</label>
								<div class="col-md-4">
									<input name="modal_person_in_first_charge" type="text" class="form-control">
								</div>
								<label for="modal_first_name_1" class="col-md-2 col-form-label  text-md-right">名
								</label>
								<div class="col-md-4">
									<input name="modal_first_name_1" type="text" class="form-control">
								</div>
							</div>
							<!--改行-->
							<br>
							<div class="row">
								<label for="modal_contacts_email_1"
									class="col-md-2 col-form-label text-md-right">メールアドレス
								</label>
								<div class="col-md-6">
									<input name="modal_contacts_email_1" type="email" class="form-control">
								</div>
							</div>
							<!--改行-->
							<br>
							<div class="row">
								<label for="modal_person_in_second_charge"
									class="col-md-2 col-form-label text-md-right">担当者2 姓
								</label>
								<div class="col-md-4">
									<input name="modal_person_in_second_charge" type="text" class="form-control"
										value="担当者2 姓">
								</div>
								<label for="modal_first_name_2" class="col-md-2 col-form-label  text-md-right">名
								</label>
								<div class="col-md-4">
									<input name="modal_first_name_2" type="text" class="form-control">
								</div>
							</div>
							<!--改行-->
							<br>
							<div class="row">
								<label for="modal_contacts_email_2"
									class="col-md-2 col-form-label text-md-right">メールアドレス
								</label>
								<div class="col-md-6">
									<input name="modal_contacts_email_2" type="email" class="form-control">
								</div>
							</div>
							<!--改行-->
							<br>
							<div class="row">
								<label for="modal_represent_TEL" class="col-md-2 col-form-label text-md-right">代表TEL
									("-"不要)
								</label>
								<div class="col-md-4">
									<input name="modal_represent_TEL" type="text" class="form-control" value="">
								</div>
								<label for="modal_contact_phone_TEL"
									class="col-md-2 col-form-label text-md-right">連絡先TEL ("-"不要)
								</label>
								<div class="col-md-4">
									<input name="modal_contact_phone_TEL" type="text" class="form-control" value="">
								</div>
							</div>
						</div>
						<!-- <div class="card-header">機器</div>
						<div class="card-body">
							<div class="row">
								<label for="modal_manufacturer" class="col-md-2 col-form-label text-md-right">メーカー
								</label>
								<div class="col-md-4">
									<input name="modal_manufacturer" type="text" class="form-control" value="">
								</div>
								<label for="modal_model_name" class="col-md-2 col-form-label text-md-right">モデル
								</label>
								<div class="col-md-4">
									<input name="modal_model_name" type="text" class="form-control" value="">
								</div>
							</div>
							
						<br>
						<div class="row">
							<label for="modal_model_number" class="col-md-2 col-form-label text-md-right">機器型番
							</label>
							<div class="col-md-4">
								<input name="modal_model_number" type="text" class="form-control" value="">
							</div>
							<label for="modal_serial_number" class="col-md-2 col-form-label text-md-right">対象シリアルNo.
							</label>
							<div class="col-md-4">
								<input name="modal_serial_number" type="text" class="form-control" value="">
							</div>
						</div>
					</div> -->
						<div class="card-header">担当者</div>
						<div class="card-body">
							<div class="row">
								<label for="modal_startia_charge" class="col-md-2 col-form-label text-md-right">担当営業
								</label>
								<div class="col-md-4">
									<input name="modal_startia_charge" type="text" class="form-control" value="">
								</div>
								<label for="modal_startia_engineer"
									class="col-md-2 col-form-label text-md-right">担当エンジニア
								</label>
								<div class="col-md-4">
									<input name="modal_startia_engineer" type="text" class="form-control" value="">
								</div>
							</div>
						</div>
						<div class="card-header">料金</div>
						<div class="card-body">
							<div class="row">
								<label for="modal_early_stage_cost" class="col-md-2 col-form-label text-md-right">初期費用
								</label>
								<div class="col-md-4">
									<input name="modal_early_stage_cost" type="text" class="form-control" value="">
								</div>
								<label for="modal_current_month_charge"
									class="col-md-2 col-form-label text-md-right">当月料金
								</label>
								<div class="col-md-4">
									<input name="modal_current_month_charge" type="text" class="form-control" value="">
								</div>
							</div>
						</div>
						<div class="card-header">備考</div>
						<div class="card-body">
							<div class="col-md-12">
								<textarea class="form-control text-md-left" name="modal_note" rows="3"></textarea>
							</div>
						</div>
					</div>
					<br>
					<input type="hidden" name="delete">
					<div class="modal-foot d-flex mb-3">
						<button type="button" class="btn btn-danger mr-auto edit"
							onclick="delete_action()">解約・キャンセル</button>
						<button type="button" class="btn btn-primary edit"
							onclick="submitAction('/add_contracts')">登録</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
					</div>
				</div>
			</div>
		</div>
	</div>

</form>

{% endblock %}

{% block extra_js %}
<!-- bootstrap-datepicker関連 -->
<script type="text/javascript" src="{% static 'mas_app/js/bootstrap-datepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'mas_app/locales/bootstrap-datepicker.ja.min.js' %}"></script>
<script>
	//開始月、変更月、解約月を選択するdatepicker
	$('.datepicker').datepicker({
		format: 'yyyy年mm月', //日付のフォーマット設定
		language: 'ja',//日本語化
		autoclose: true,//選択すると閉じる
		minViewMode: 'months',//年月のみを設定するモード
		enableOnReadonly: false, //readonly属性が付いている場合はピッカーを表示しない
	});
	//申込日を選択するdatepicker
	$('#modal_select_date').datepicker({
		format: 'yyyy年mm月dd日', //日付のフォーマット設定
		language: 'ja',//日本語化
		autoclose: true,//選択すると閉じる
		todayBtn: 'linked',  // 現在日付に移動して選択するボタンを表示
		enableOnReadonly: false, //readonly属性が付いている場合はピッカーを表示しない
	});
</script>
<!-- ソート関連の処理 -->
<script>
	$(document).ready(function () {
		let sortmethod = $('input[name=sort]').val();//現在のソート方法を取得
		let sign = sortmethod.slice(0, 1);//最初の文字が-なら降順
		if (sign == "-") {
			sortmethod = "sort_" + sortmethod.slice(1);
		} else {
			sortmethod = "sort_" + sortmethod;
		}
		//ソート条件に従ってクラスを適用
		$('table thead tr th').each(function () {
			let thisid = $(this).attr('id');//ある見出しが持っているID
			if (thisid == sortmethod) {
				if (sign == "-") {//降順であることを示すクラスを付加
					$("#" + sortmethod).addClass('headerDesc');
				} else {//昇順であることを示すクラスを付加
					$("#" + sortmethod).addClass('headerAsc');
				}
			} else if ($(this).hasClass('sort_th')) {//ソート対象となる列には「今はそれでソートしていない」ことを示すクラスを付加
				$(this).addClass('headerUnSorted')
			}
		});
	});

	//見出しクリック時、ソート条件を変えて再検索する処理
	$('.sort').click(function () {
		let order_by = $(this).val();
		if ($('input[name=sort]').val() == order_by) {//押された項目ですでにソートされているなら逆順でソートさせる
			$('input[name=sort]').val('-' + order_by);
		} else {
			$('input[name=sort]').val(order_by);
		}
		$('form').submit();
	});
</script>

<!-- プラン選択チェックボックス関連 -->
<script>
	//チェックされているプランをinput要素に表示する関数
	function setChecked() {
		selectedvalue = '';
		$('input[name=search_plan_name]:checked').each(function () {
			let r = $(this).val();
			selectedvalue += r + ' ';
		})
		$('#selectedvalue').val(selectedvalue);
	};
	//検索結果表示時に検索条件の項目にチェックを入れる
	$(document).ready(function () {
		$('[name=selected_plan_name]').each(function () {
			let name = $(this).text();
			$('input[value=' + name + ']').prop('checked', true);
		})
		//「全プラン」以外すべてにチェックされていたら「全プラン」にチェックを入れる
		let check = true;
		$('input[name=search_plan_name]').each(function () {
			if (!$(this).prop('checked')) {//1つでもチェックされていないならcheck=false
				check = false;
			}
		})

		if (check) {
			$('input[name="checkall"]').prop('checked', true);
		}
		setChecked();
	});

	//「全プラン」にチェックを入れるとすべてのチェックを「全プラン」と同じにする
	$('input[name=checkall]').click(function () {
		if ($('input[name=checkall]').prop('checked')) {//「全プラン」にチェックが入っているとき
			$('input[name="search_plan_name"]').prop('checked', true);// チェックを入れる
		} else {
			$('input[name="search_plan_name"]').prop('checked', false);
		}
		setChecked();
	});

	//チェックボックス選択時にチェックされているプランをinputに表示する処理
	$('input[name=search_plan_name]').click(function () {
		let state = $('input[name=checkall]').prop('checked')
		if (state) {//「全プラン」がチェックされているときに他のチェックが外れると「全プラン」も外す
			$('input[name=search_plan_name]').each(function () {
				if (!$(this).prop('checked')) {
					$('input[name="checkall"]').prop('checked', false);
				}
			})
		} else {//「全プラン」以外すべてにチェックされていたら全プランもチェック
			let check = true;
			$('input[name=search_plan_name]').each(function () {
				if (!$(this).prop('checked')) {
					check = false;
				}
			})

			if (check) {
				$('input[name="checkall"]').prop('checked', true);
			}
		}
		setChecked();
	});

	//複数選択セレクトボックスがラベルクリック時に閉じるのを防ぐ
	$('.checkbox').on('click.bs.dropdown.data-api', (event) => event.stopPropagation())
</script>

<!-- モーダルを開くときの処理 -->
<script>
	//編集ボタンが押されると開く編集モーダル内の要素を更新する処理
	$(function () {
		const array = [//モーダルに表示する対象の項目(暫定)
			'customer_id', 'customer_name', 'plan_name',
			'start_date', 'modification_date', 'canceling_date',
			'represent_TEL', 'contact_phone_TEL',
			'person_in_first_charge', 'first_name_1', 'contacts_email_1',
			'person_in_second_charge', 'first_name_2', 'contacts_email_2',
			'startia_charge', 'startia_engineer',
			'early_stage_cost', 'current_month_charge', 'note'];
		var initial_value = {};//モーダルを開いたときに入力されていた情報を格納。項目の編集の感知に使う
		// 検索結果テーブルの編集ボタンクリック時、モーダル内にそのボタンのある行の値を設定
		$('.open_modal').click(function () {
			$("input").each(function () {
				//モーダル内テキストボックスの枠線の色を戻す
				$(this).removeClass("border border-warning");
			});
			initial_value = {}//モーダルの情報を初期化
			let index = $(this).val()//モーダルを開くボタンの持つ値(新規登録:add_contract,検索結果の1番上:1,2番目:2...)

			if (index != "add_contract") {//編集時
				//モーダル内に自分の行の値を設定
				for (let i = 0; i < array.length; i++) {
					let temp = $("[name=" + array[i] + "]")[index].textContent;//表示されていない項目も含め、対象の行から内容を取得					
					if (temp != "None") {
						$("[name=modal_" + array[i] + "]").val(temp);
					} else {
						$("[name=modal_" + array[i] + "]").val("");
					}
					initial_value[array[i]] = temp;
				}
				if ($("[name=is_deleted]")[index].value == "True") {//削除済みの契約の場合編集を禁止する
					// alert("deleted")
					$('input').attr('readonly', true);
					$('textarea').attr('readonly', true);
					$('.edit').attr('disabled', true);
				}

				//顧客番号、申込日、契約プランの編集を禁止
				$("[name=modal_customer_id]").attr('readonly', true);
				$("[name=modal_select_date]").attr('readonly', true);
				$("[name=modal_select_plan]").attr('disabled', true);
				//セレクトボックスの選択状態の見掛けを繕う
				$("[name=modal_select_plan]").val($("[name=modal_plan_name]").val())

			} else {//新規登録時
				//モーダル内を空に設定する
				$("[name=modal_select_date]").val("");
				for (let i = 0; i < array.length; i++) {
					let temp = "";
					$("[name=modal_" + array[i] + "]").val(temp);
				}
				//顧客番号の手入力を禁止
				$("[name=modal_customer_id]").attr('readonly', true);
				//申込日、契約プランの編集禁止を解除
				$("[name=modal_select_date]").attr('readonly', false);
				$("[name=modal_select_plan]").attr('disabled', false);
			}
		});

		//編集不可の契約の詳細情報モーダルを閉じたあとには他の契約の情報を編集できるようにする処理
		$('#myModal').on('hidden.bs.modal', function () {
			$('input').attr('readonly', false);
			$('textarea').attr('readonly', false);
			$('.edit').attr('disabled', false);
		})

		//編集した項目のテキストボックスの枠線の色を変える処理
		$("input,select").change(function (event) {
			var targetname = $(this).attr('name');//対象のinputのnameを取得 (modal_noteなど)
			if ((targetname == "search_customer_name") || (targetname == "search_client_phone") ||
				(targetname == "modal_customer_id")) {
				//検索項目、顧客番号のinputの変化は監視しない
				return false
			}

			var slicedname = targetname.slice(6)//"modal_"の部分を削り、initial_input内の辞書を引けるようにする
			// alert(slicedname)
			var initial_input = initial_value[slicedname]//対象の要素のもともとの値
			// alert(initial_input)
			var new_input = $(this).val();//対象の変更後の値
			// alert(new_input)

			if (initial_input == new_input) {
				$(this).removeClass("border border-warning");//対象の枠線の色を戻す
			} else {
				$(this).addClass("border border-warning");//対象の枠線の色を変える
			}
		});
	});
</script>

<!-- こまごまとした処理 -->
<script>
	//申込日、契約プランを入れるとajaxでかぶりのないIDが送られてくる処理
	$("[name=modal_select_plan],[name=modal_select_date]").change(function (event) {
		// 申込日、契約プランの両方の入力確認
		let temp1 = $("[name=modal_select_plan]").val();
		let temp2 = $("[name=modal_select_date]").val();
		if ((temp1 == "") || (temp2 == "")) {//どちらかが空なら何もしない
			return false
		}

		//選択した契約プランのPOST時に使うinputに値を代入
		$("[name=modal_plan_name]").val(temp1)

		//入力されたデータをPOSTして画面遷移無しでデータだけもらう
		let form = $('[name=searchform]');
		event.preventDefault();
		$.ajax({
			url: "{% url 'more' %}",
			method: "POST",
			data: form.serialize(),
			timeout: 10000,
			dataType: "text",
		})
			//被りなく生成された顧客IDを受け取った後、それを表示する
			.done(function (data) {
				$("[name=modal_customer_id]").val(data);
			})
	});
	// ページングのボタンクリック時、name=keyのinput要素に自分の値(移動先ページ)を設定してサブミット
	$('.page').click(function () {
		// alert($(this).val())
		$('input[name=key]').val($(this).val());
		$('form').submit();
	});
	//売上集計ボタンクリック時、売上集計を行うことをviewに示す変数をdo_whatに代入してサブミット
	$('[name=summarize_sales]').click(function () {
		$('input[name=do_what]').val("summarize_sales");
		$('form').submit();
	});
	//年月の比較のため、日付オブジェクトに変換する処理
	function toDate(str) {
		//2000年01月
		return new Date(str.slice(0, 4), str.slice(6, 7), 01);
	};

	//契約情報を削除するか確認させ、削除する処理
	function delete_action() {
		let start_date = $('[name=modal_start_date]').val()
		let canceling_date = $('[name=modal_canceling_date]').val()
		let note = $('[name=modal_note]').val()

		//解約時の必須事項の入力要求
		if (note == '') {
			alert('削除理由を備考に入力してください');
			return false;
		}
		if (canceling_date == '') {
			alert('解約月を入力してください');
			return false;
		}

		//解約月のバリデーションチェック。Date型に変換してから解約日が開始日より遅いことを確認
		let s_date = toDate(start_date);
		let e_date = toDate(canceling_date);
		if (s_date > e_date) {
			alert('解約月が開始月より早くなっています');
			return false;
		}

		let result = window.confirm('削除理由は備考に入力されていますか？');//データ削除確認ダイアログ
		if (!result) {
			return false;
		}
		let result2 = window.confirm('解約またはキャンセルしますか？');//データ削除確認ダイアログ
		if (result2) {//OKを押されたらPOST
			$('input[name=delete]').val("delete");//内容を更新後、削除フラグを立てさせる
			$('form').attr('action', '/add_contracts');
			$('form').submit();
		}
	}

	// 押されたボタンによってサブミット先を変える
	function submitAction(url) {
		$('form').attr('action', url);
		if (url == '/search') {//契約の検索時
			$('input[name=do_what]').val("search");
			$('form').submit();
			return false
		} else {//契約内容の編集時
			var maindata = [5];//バリデーションチェック
			maindata[0] = $('input[name=modal_customer_id]').val();
			// maindata[1] = $('input[name=modal_start_date]').val();
			// maindata[2] = $('input[name=modal_customer_name]').val();
			// maindata[3] = $('input[name=modal_represent_TEL]').val();
			// maindata[4] = $('input[name=modal_contact_phone_TEL]').val();
			for (var i = 0; i < maindata.length; i++) {
				if (maindata[i] == "") {
					alert("必須項目を入力してください");
					return false
				}
			}
			var result = window.confirm('この内容で登録しますか？');//登録確認ダイアログ
			if (result) {//OKを押されたらPOST
				$('form').submit();
			}
		}
	}
</script>
{% endblock %}