{% extends "base.html" %}
{% load i18n static %}

{% block title %}売上集計{% endblock %}
{% block extra_css %}
<!--tablesort用-->
<link rel="stylesheet" href="{% static 'mas_app/css/tablesort.css' %}">

<!-- bootstrap-datepickerを読み込む -->
<link rel="stylesheet" href="{% static 'mas_app/css/bootstrap-datepicker.min.css' %}">

{% endblock %}
{% block content %}


<div class="card-body">
    検索結果：{{number_of_hit}}件
    {% if contracts %}
    <!--検索結果テーブルの表示-->
    <table id="contract_table" class="table table-sm">
        <thead>
            <tr>
                <!--現在のソート方法を格納する変数-->
                <input name="sort" hidden value={{sort}}>
                <th scope="col" id="sort_customer_id">
                    <button type="button" class="btn btn-link btn-block text-md-left sort" value="customer_id"
                        onclick="sort()">
                        顧客番号
                    </button>
                </th>
                <th scope="col" id="sort_customer_name" style="width:25%">
                    <button type="button" class="btn btn-link btn-block text-md-left sort" value="customer_name"
                        onclick="sort()">顧客名</button>
                </th>
                <th scope="col" id="sort_represent_TEL">
                    <button type="button" class="btn btn-link btn-block text-md-left sort" value="represent_TEL"
                        onclick="sort()">
                        代表TEL
                    </button>
                </th>
                <th scope="col" id="sort_contact_phone_TEL">
                    <button type="button" class="btn btn-link btn-block text-md-left sort" value="contact_phone_TEL"
                        onclick="sort()">
                        連絡先TEL
                    </button>
                </th>
                <th scope="col" id="sort_plan_name">
                    <button type="button" class="btn btn-link btn-block text-md-left sort" value="plan_name"
                        onclick="sort()">
                        プラン名
                    </button>
                </th>
                <th scope="col" id="sort_button"></th>
            </tr>
        </thead>
        <tbody>
            {% for contract in contracts %}
            {% if contract.is_deleted %}
            <!--削除済みの項目は暗くする-->
            <tr class="table-secondary">
                {% else %}
            <tr>
                {% endif %}
                <td class="overflow">
                    <span name="customer_id">{{ contract.customer_id }}</span>
                </td>
                <td class="overflow">
                    <span name="customer_name">{{ contract.customer_name }}</span>
                </td>
                <td class="overflow">
                    <span name="represent_TEL">{{ contract.represent_TEL }}</span>
                </td>
                <td class="overflow">
                    <span name="contact_phone_TEL">{{ contract.contact_phone_TEL }}</span>
                </td>
                <td class="overflow">
                    <span name="start_date">{{ contract.start_date|date:"Y年m月" }}</span>

                </td>
                <td style="text-align:center;">
                    <!-- 対応する契約情報を編集するモーダルを出すボタン -->
                    <button type="button" class="btn btn-primary open_modal" data-toggle="modal" data-target="#myModal"
                        value={{ forloop.counter0 }}>
                        編集
                    </button>
                    <!--モーダルに渡す情報-->
                    <div hidden>
                        <span name="plan_name">{{ contract.plan_name }}</span>
                        <span name="modified_date">{{ contract.modified_date|date:"Y年m月" }}</span>
                        <span name="end_date">{{ contract.end_date|date:"Y年m月" }}</span>
                        <span name="person_in_first_charge">{{ contract.person_in_first_charge }}</span>
                        <span name="first_name_1">{{ contract.first_name_1 }}</span>
                        <span name="contacts_email_1">{{ contract.contacts_email_1 }}</span>
                        <span name="person_in_second_charge">{{ contract.person_in_second_charge }}</span>
                        <span name="first_name_2">{{ contract.first_name_2 }}</span>
                        <span name="contacts_email_2">{{ contract.contacts_email_2 }}</span>
                        <span name="manufacturer">{{ contract.manufacturer }}</span>
                        <span name="model_name">{{ contract.model_name }}</span>
                        <span name="model_number">{{ contract.model_number }}</span>
                        <span name="serial_number">{{ contract.serial_number }}</span>
                        <!-- <span name="remote_way">{{ contract.remote_way }}</span>
											<span name="remote_connection">{{ contract.remote_connection }}</span>
											<span name="remote_local">{{ contract.remote_local }}</span>
											<span name="perimter_account">{{ contract.perimter_account }}</span>
											<span name="perimter_network">{{ contract.perimter_network }}</span> -->
                        <span name="startia_charge">{{ contract.startia_charge }}</span>
                        <span name="startia_engineer">{{ contract.startia_engineer }}</span>
                        <span name="early_stage_cost">{{ contract.early_stage_cost }}</span>
                        <span name="current_month_charge">{{ contract.current_month_charge }}</span>

                        <textarea class="form-control" name="note" rows="3">{{ contract.note }}</textarea>

                        <input type="text" name="is_deleted" value={{ contract.is_deleted }}>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <nav aria-label="Search results pages">
            <ul class="pagination">
                <!--１つ前に戻るボタン name="previous"-->
                {% if page_obj.has_previous %}
                <li>
                    <button type="button" class="btn btn-primary page" value={{ page_obj.previous_page_number }}
                        onclick="submitAction('/search/')">
                        前
                    </button>
                </li>
                {% else %}
                <li class="disabled">
                    <button type="button" class="btn btn-primary page" disabled>
                        前
                    </button>
                </li>
                {% endif %}
                <!--指定ページに移動 name="specified"-->
                {% for link_page in page_obj.paginator.page_range %}
                {% if link_page %}
                {% if link_page == page_obj.number %}
                <li class="disabled">
                    <button type="button" class="btn btn btn-dark page" name={{ link_page }} value={{ link_page }}
                        disabled>
                        {{ link_page }}
                    </button>
                </li>
                {% else %}
                <li><button type="button" class="btn btn-primary page" name={{ link_page }} value={{ link_page }}>
                        {{ link_page }}
                    </button>
                </li>
                {% endif %}
                {% else %}
                <li class="disabled"><a class="page-link text-secondary d-inline-block text-muted" href="#">・・・
                        </p>
                </li>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li><button type="button" class="btn btn-primary page" name={{ page_obj.next_page_number }}
                        value={{ page_obj.next_page_number }}>
                        次
                    </button>
                </li>
                {% else %}
                <li class="disabled">
                    <button type="button" class="btn btn-primary page" disabled>
                        次
                    </button>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>

    {% endif %}
</div>





{% endblock %}

{% block extra_js %}

<script>

</script>
<!-- bootstrap-datepickerのjavascriptコード -->
<script type="text/javascript" src="{% static 'mas_app/js/bootstrap-datepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'mas_app/locales/bootstrap-datepicker.ja.min.js' %}"></script>
<script>
    $('.datepicker').datepicker({
        format: 'yyyy年mm月', //日付のフォーマット設定
        language: 'ja',//日本語化
        autoclose: true,//選択すると閉じる
        minViewMode: 'months',//年月のみを設定するモード
        enableOnReadonly: false, //readonly属性が付いている場合はピッカーを表示しない
    });

    $('#modal_select_date').datepicker({
        format: 'yyyy年mm月dd日', //日付のフォーマット設定
        language: 'ja',//日本語化
        autoclose: true,//選択すると閉じる
        todayBtn: 'linked',  // 現在日付に移動して選択するボタンを表示
        enableOnReadonly: false, //readonly属性が付いている場合はピッカーを表示しない
    });

    $(document).ready(function () {
        //ソート条件を表すアイコンを見出しに表示する処理

        //現在のソート方法を取得
        let sortmethod = $('input[name=sort]').val();
        // alert(sortmethod)
        let a = sortmethod.slice(0, 1);
        if (a == "-") {
            // alert("降順")
            sortmethod = "sort_" + sortmethod.slice(1);
        } else {
            // alert("昇順")
            sortmethod = "sort_" + sortmethod;
        }
        // alert(sortmethod)
        //ソート条件に従ってクラスを適用
        $('table thead tr th').each(function () {
            let thisid = $(this).attr('id');
            if (thisid == sortmethod) {
                if (a == "-") {
                    // alert("降順")
                    sortmethod = "#" + sortmethod;
                    $(sortmethod).addClass('headerDesc');
                } else {
                    // alert("昇順")
                    sortmethod = "#" + sortmethod;
                    $(sortmethod).addClass('headerAsc');
                }
            } else if (thisid != "sort_button") {
                $(this).addClass('headerUnSorted')
            }
        });
    });
</script>

<script>
    function setChecked() {
        //チェックされた項目をinputに表示する処理
        selectedvalue = '';
        $('input[name=search_plan_name]:checked').each(function () {
            var r = $(this).val();
            selectedvalue += r + ' ';
        })
        // alert(selectedvalue)
        $('#selectedvalue').val(selectedvalue);
    }
    //検索結果表示時に検索条件の項目にチェックを入れる
    $(document).ready(function () {
        $('[name=selected_plan_name]').each(function () {
            let name = $(this).text();
            // alert(name)
            $('input[value=' + name + ']').prop('checked', true);
        })
        setChecked();
    });

    $('input[name=checkall]').click(function () {
        //「全プラン」にチェックを入れるとすべてのチェックを「全プラン」と同じにする
        if ($('input[name=checkall]').prop('checked')) {//「全プラン」にチェックがされたら
            $('input[name="search_plan_name"]').prop('checked', true);// チェックを入れる
        } else {
            $('input[name="search_plan_name"]').prop('checked', false);
        }
        setChecked();
    });

    //チェックボックス選択時にチェックされているプランをinputに表示する処理
    $('input[name=search_plan_name]').click(function () {

        let state = $('input[name=checkall]').prop('checked')
        if (state) {//「全プラン」がチェックされているときに他のチェックが外れると「全プラン」も外す
            // alert("全がチェックされている")
            $('input[name=search_plan_name]').each(function () {
                if (!$(this).prop('checked')) {
                    $('input[name="checkall"]').prop('checked', false);
                }
            })
        } else {//「全プラン」以外すべてにチェックされていたら全プランもチェック
            // alert("全がチェックされてない")
            let check = true;
            $('input[name=search_plan_name]').each(function () {
                if (!$(this).prop('checked')) {
                    check = false;
                }
            })

            if (check) {
                $('input[name="checkall"]').prop('checked', true);
            }
        }
        setChecked();
    });

    //複数選択セレクトボックスがラベルクリック時に閉じるのを防ぐ
    $('.checkbox').on('click.bs.dropdown.data-api', (event) => event.stopPropagation())

    //編集ボタンが押されると開く編集モーダル内の要素を更新する処理
    $(function () {
        // var array = [
        // 	'customer_id', 'customer_name', 'plan_name',
        // 	'start_date', 'modified_date', 'end_date',
        // 	'represent_TEL', 'contact_phone_TEL',
        // 	'person_in_first_charge', 'first_name_1', 'contacts_email_1',
        // 	'person_in_second_charge', 'first_name_2', 'contacts_email_2',
        // 	'manufacturer', 'model_name', 'model_number', 'serial_number',
        // 	'remote_way', 'remote_connection', 'remote_local',
        // 	'perimter_account', 'perimter_network',
        // 	'startia_charge', 'startia_engineer',
        // 	'early_stage_cost', 'current_month_charge', 'note'];
        //ネットワーク関係の変数を消去
        var array = [
            'customer_id', 'customer_name', 'plan_name',
            'start_date', 'modified_date', 'end_date',
            'represent_TEL', 'contact_phone_TEL',
            'person_in_first_charge', 'first_name_1', 'contacts_email_1',
            'person_in_second_charge', 'first_name_2', 'contacts_email_2',
            'manufacturer', 'model_name', 'model_number', 'serial_number',
            'startia_charge', 'startia_engineer',
            'early_stage_cost', 'current_month_charge', 'note'];
        var initial_value = {};
        // 編集ボタンクリック時、モーダル内に自分の行の値を設定
        $('.open_modal').click(function () {
            $("input").each(function () {
                //テキストボックスの枠線の色を戻す
                $(this).removeClass("border border-warning");
            });
            initial_value = {}//モーダルの情報を初期化
            let index = $(this).val()

            if (index != "add_contract") {//編集時
                //モーダル内に自分の行の値を設定
                for (let i = 0; i < array.length; i++) {
                    let temp = $("[name=" + array[i] + "]")[index].textContent;
                    if (temp != "None") {
                        $("[name=modal_" + array[i] + "]").val(temp);
                    } else {
                        $("[name=modal_" + array[i] + "]").val("");
                    }
                    initial_value[array[i]] = temp;
                }
                if ($("[name=is_deleted]")[index].value == "True") {//削除済みの契約の場合編集を禁止する
                    // alert("deleted")
                    $('input').attr('readonly', true);
                    $('textarea').attr('readonly', true);
                    $('.edit').attr('disabled', true);
                }

                //申込日、契約プランの編集を禁止
                $("[name=modal_customer_id]").attr('readonly', true);
                $("[name=modal_select_date]").attr('readonly', true);
                $("[name=modal_select_plan]").attr('disabled', true);
                //セレクトボックスの選択状態の見掛けを繕う
                $("[name=modal_select_plan]").val($("[name=modal_plan_name]").val())

            } else {//新規登録時
                //モーダル内を空に設定する
                $("[name=modal_select_date]").val("");
                for (let i = 0; i < array.length; i++) {
                    let temp = "";
                    $("[name=modal_" + array[i] + "]").val(temp);
                }
                //顧客番号の手入力を禁止
                $("[name=modal_customer_id]").attr('readonly', true);
                //申込日、契約プランの編集禁止を解除
                $("[name=modal_select_date]").attr('readonly', false);
                $("[name=modal_select_plan]").attr('disabled', false);
            }
        });

        //編集不可の契約の詳細情報モーダルを閉じたときに編集を解禁する
        $('#myModal').on('hide.bs.modal', function () {
            $('input').attr('readonly', false);
            $('textarea').attr('readonly', false);
            $('.edit').attr('disabled', false);
        })


        //編集した項目のテキストボックスの枠線の色を変える処理
        $("input,select").change(function (event) {
            var targetname = $(this).attr('name');//対象のinputのnameを取得 (modal_....)
            if ((targetname == "search_customer_name") || (targetname == "search_client_phone") ||
                (targetname == "modal_customer_id")) {
                //検索項目、顧客番号のinputの変化は監視しない
                return false
            }

            var slicedname = targetname.slice(6)
            // alert(slicedname)
            var initial_input = initial_value[slicedname]//対象の要素のもともとの値
            // alert(initial_input)
            var new_input = $(this).val();//対象の変更後の値
            // alert(new_input)

            if ((targetname == "modal_select_date") || (targetname == "modal_select_plan")) {
                //POST時に使うinputに値を代入
                $("[name=modal_plan_name]").val($("[name=modal_select_plan]").val())
                //申込日、契約プランの枠線は変える必要がないので処理を終える
                return false
            }

            if (initial_input == new_input) {
                $(this).removeClass("border border-warning");//対象の枠線の色を戻す
            } else {
                $(this).addClass("border border-warning");//対象の枠線の色を変える
            }
        });

        //申込日、契約プランを入れるとajaxでかぶりのないIDが送られてくる処理
        $("[name=modal_select_plan],[name=modal_select_date]").change(function (event) {
            // 申込日、契約プランの両方の入力確認
            let temp1 = $("[name=modal_select_plan]").val();
            let temp2 = $("[name=modal_select_date]").val();

            if ((temp1 == "") || (temp2 == "")) {
                // alert("申込日、契約プランを入力してください")
                return false
            }

            let form = $('[name=searchform]');
            event.preventDefault();
            $.ajax({
                url: "{% url 'more' %}",
                method: "POST",
                data: form.serialize(),
                timeout: 10000,
                dataType: "text",
            })
                .done(function (data) {
                    // alert("done");
                    $("[name=modal_customer_id]").val(data);
                    $("[name=modal_customer_id]").attr('readonly', true);
                })
        });

        //項目クリック時、ソート条件を変えて再検索する
        $('.sort').click(function () {
            let order_by = $(this).val();
            if ($('input[name=sort]').val() == order_by) {//すでに押された項目でソートされていた時は逆順でソート
                $('input[name=sort]').val('-' + order_by);
            } else {
                $('input[name=sort]').val(order_by);
            }
            $('form').submit();
        });

        // ボタンクリック時、type="hidden"のinput要素に自分の値を設定してサブミット
        $('.page').click(function () {
            // alert($(this).val())
            $('input[name=key]').val($(this).val());
            submitAction('/search/');
        });
    });
    //契約情報を削除するか確認させ、削除する処理
    function delete_action() {
        $('form').attr('action', '/delete');
        let result = window.confirm('解約またはキャンセルしますか？');//登録確認ダイアログ
        if (result) {//OKを押されたらPOST
            $('form').submit();
        }
    }

    // 押されたボタンによってサブミット先を変える
    function submitAction(url) {
        $('form').attr('action', url);

        if (url == '/search/') {//契約の検索時
            // alert("if文")
            $('form').submit();
            return false
        } else {//契約内容の編集時
            var maindata = [5];//バリデーションチェック
            maindata[0] = $('input[name=modal_customer_id]').val();
            for (var i = 0; i < maindata.length; i++) {
                if (maindata[i] == "") {
                    alert("必須項目を入力してください");
                    return false
                }
            }
            var result = window.confirm('この内容で登録しますか？');//登録確認ダイアログ
            if (result) {//OKを押されたらPOST
                $('form').submit();
            }
        }
    }
</script>
{% endblock %}