th.headerAsc {
background-image: url("../img/asc.png");
background-repeat: no-repeat;
background-position: center right;
}

th.headerDesc {
background-image: url("../img/desc.png");
background-repeat: no-repeat;
background-position: center right;

}

th.headerUnSorted {
background-image: url("../img/unsorted.png");
background-repeat: no-repeat;
background-position: center right;
}



/* bootstrapのtableデザイン用 */
.table > thead > tr > th{
    border:1px solid black;
}

.table > tbody > tr > td{
    border:1px solid black;
}
td.overflow{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 0;
}




